@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    width: 100%;
    height: 100vh;
    /* font-family: "Poppins", sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden;? */
}

.padding {
    padding: 0 200px;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_one {
    /* background-color: aquamarine; */
    height: 45px;
    color: #5f6266d8;
    cursor: pointer;
    box-shadow: 0px 0.5px #8888885d;
    /* margin-bottom: 30px; */
    /* width: 100%; */
}

.left>div+div {
    /* background-color: blanchedalmond; */
    margin-left: 20px;
}

.left>div>i {
    color: #18c5d9;
    padding-right: 5px;
}

.right>div {
    /* background-color: burlywood; */
    padding: 0 18px;
    /* margin-left: 35px; */
    box-shadow: -1px 0px #8888885e;
    font-size: 18px;
}

.left>div:hover,
.right>div:hover {
    color: #18c5d9;
    transition: all 0.3s;
}

.nav_two {
    /* position: sticky; */
    /* top: 0px; */
    /* background-color:antiquewhite; */
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.nav_links li {
    list-style: none;
}

.nav_links a {
    text-decoration: none;
    /* background-color: #5f6266; */
    color: #5f6266af;
    font-size: 20px;
    margin-left: 30px;
}

.nav_links .focus {
    color: #18c5d9;
}

.nav_links a:hover {
    color: #18c5d9;
    transition: 0.3s;
}

/* carousel starts */

.carousel-item {
    /* opacity: 10; */
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.carousel-caption {
    /* background-color: aquamarine; */
    position: absolute;
    top: 35%;
}

.carousel-caption h4 {
    font-size: 22px;
}

.carousel-caption h1 {
    font-size: 68px;
    font-weight: 400;
}

.carousel-caption .btn {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    outline: none !important;
}

.carousel-caption .btn:hover {
    background-color: #18c5d9;
    border: none;
}

.icon {
    background-color: #18c6d9;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.carousel-indicators button:hover:active {
    background-color: #18c5d9 !important;
}

/* carousel ends */

/* about us starts */

.about-us{
    /* width: 100%;
    scrollbar-width: none;
    height: 50vh; */
    /* background-color: antiquewhite; */
    overflow: hidden;
    margin-top: 10%;
    /* margin-bottom: 50px; */
    /* margin-bottom: 10%; */


}

.abt_words{
    /* background-color: rgba(210, 105, 30, 0.438); */
    width: 35vw;
}
 .grey{
    color: rgba(128, 128, 128, 0.808);
    font-size: 20px;
    font-weight: 500;
    /* letter-spacing: 10; */
}
.abt_words .abt_letters{
    font-size: 18px;
    color: rgb(75, 72, 72);
    width: 38vw;
    /* background-color: blanchedalmond; */
    padding-bottom: 20px;
}
.abt_words h1{
    /* font-weight:bold; */
    letter-spacing: 1px;
    /* background-color: antiquewhite; */
    width: 32vw;
    /* line-height: 55px; */
     font-size: 40px;
     padding-bottom: 40px;
}
.abt_img{
    /* background-color:burlywood ; */
    padding-bottom: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.abt_img img{
    width: 32vw;
    border-radius: 15px;
     box-shadow: 6px 6px 20px #8888884b;
}

.read_more_btn a{
    background-color: #18c5d9;
    color: white;
}
.read_more_btn a:hover{
    color: #18c5d9;
    background-color: white;
    border: 2px #18c5d9 solid;
}

/* about us ends */

/* services starts */
.services{
    margin-top: 6%;
    margin-bottom: 8%;
    background-color: #f2f4fe;
    /* height: 20vh; */
    overflow: hidden;
    padding: 0 10% 5% 10%;
}

.services_header{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services_header h1{
    /* background-color: #4fd918; */
    text-align: center;
    width: 35vw;
   
}

.services_container .col > img{
    border-radius: 20px;
}
.services_container .row{
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.services_container .row .col{
    /* background-color: rgb(135, 222, 139); */
    margin: 20px;
    padding: 25px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.services_container .row .col> p{
    font-size: 20px;
    padding-top: 20px;
    /* background-color: yellow; */
}

.services_container .row .col:hover{
    background-color: #18c5d9;
    border-radius: 10px;
    transition: 0.3s;
}


/* services ends */

/* projects start */

.products_mainHeader{
display: flex;
justify-content: space-between;
}

.browse_btn {
     border: 2px solid #18c5d9;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none !important;
}
.products_mainHeader a {
    color: #18c5d9;
     border: 2px solid #18c5d9;
    border-radius: 5px;
    /* padding: 5px; */
    outline: none !important;
    text-align: center;
}
.products_mainHeader a:hover{
    background-color: #18c5d9;
    color: white;
    transition: 0.3s;
}
.products_heading{
    /* margin-bottom: 7%; */
}

.img_container .row .col>img{
    /* width: 22vw; */
    width: 100%;
    border-radius: 10px;
}
.img_container{
    /* background-color: yellow; */
    padding: 7% 0 5% 0;
    
}
.img_container .row{
    /* background-color: #18c5d9; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */

    /* justify-content: stretch; */
}
.img_container .row .col{
    /* background-color: plum; */
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    width: 26vw;
    margin: 0px 0 35px 0;

}
/* projects end */

/* contact start */

.contact_container{
    background-color: #f2f4fe;
    overflow: hidden;
}

.clients{
    /* background-color: antiquewhite; */
    padding: 6% 200px;
    /* display: flex;
    justify-content: space-between; */
}

.clients .row .col{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_box{
    background-color: #33374B;
    overflow: hidden;
}
.contact_box .row{
    /* background-color: yellow; */
    padding-top: 6%;
    padding-bottom: 3%;
    box-shadow: 0px 0.8px #4B495E;
    margin: 0 200px;
}
.contact_box .col img{
    /* background-color: #55d918; */
    padding-top: 30px;
    width: 6vw;
}
.contact_box .col > h4{
    color: #F2F2F2;
}
.contact_box .col >p{
    color: #B9B8C1;
    font-size: 18px;
    font-weight: 500;
}
.contact_box input{
    padding: 20px;
    border-radius: 10px;
    color: #B9B8C1;
    font-size: 20px;
    font-weight: 400;
    outline: none;
}
.contact_box .col a{
    margin-top: 10px;
    background-color: #18c5d9;
    padding: 12px 30px;
    color: white;
    font-size: 18px;
}
.contact_box .col a:hover{
    background-color: #33374B;
    color: #18c5d9;
    border: 2px solid #18c5d9;
}

.copyright{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.copyright_words p{
    color: #B9B8C1;
    font-size: 18px;
    font-weight: 500;
}
.copyright_icons {
    /* background-color: white; */
    display: flex;
}
.copyright_icons > div{
    background-color: #4B495E;
    color: #B8B8BF;
    margin: 3px;
    font-size: 22px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* conact end */

.up_btn{
    width: 60px;
    height: 60px;
    background-color: #B8B8BF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}
.up_btn.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.up_btn a i{
    font-size: 25px;
    color: #5f5d70;
    text-decoration: none;
}